In [1]:
html_doc = """
<html>
<head><title>The Dormhouse's story</title></head>
<body>

</body></html>
"""

In [2]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_doc, 'html.parser')

print(soup.prettify())

<html>
 <head>
  <title>
   The Dormhouse's story
  </title>
 </head>
 <body>
 </body>
</html>

In [4]:
soup.head

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

url = f'https://pl.wikipedia.org/wiki/Dane_statystyczne_o_miastach_w_Polsce'
url2 = 'https://www.skleptytoniowy.pl/papierosy/'

page = requests.get(url)
print(page)

<Response [200]>

In [7]:
page.content[:300]

b'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vect'

In [8]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(page.content)

In [11]:
tables = soup.find_all('table')
len(tables)

1

In [13]:
table = tables[0]
rows = table.find_all('tr')
for row in rows[:2]:
    print(row)

<tr>
<th style="width: 26%">Miasto
</th>
<th style="width: 26%"><a href="/wiki/Powiat_(Polska)" title="Powiat (Polska)">Powiat</a>
</th>
<th style="width: 24%"><a href="/wiki/Wojew%C3%B3dztwo" title="Województwo">Województwo</a>
</th>
<th style="width: 8%">Powierzchnia [ha] (01.01.2021)
</th>
<th style="width: 8%"><a href="/wiki/Liczba_ludno%C5%9Bci" title="Liczba ludności">Liczba ludności</a> (01.01.2021)
</th>
<th style="width: 8%"><a href="/wiki/G%C4%99sto%C5%9B%C4%87_zaludnienia" title="Gęstość zaludnienia">Gęstość zaludnienia</a> [osoby/km²] (01.01.2021)
</th></tr>
<tr>
<td><b><a href="/wiki/Aleksandr%C3%B3w_Kujawski" title="Aleksandrów Kujawski">Aleksandrów Kujawski</a></b>
</td>
<td><a href="/wiki/Powiat_aleksandrowski" title="Powiat aleksandrowski">aleksandrowski</a>
</td>
<td><a href="/wiki/Wojew%C3%B3dztwo_kujawsko-pomorskie" title="Województwo kujawsko-pomorskie">kujawsko-pomorskie</a>
</td>
<td>723
</td>
<td>12058
</td>
<td>1668
</td></tr>

In [15]:
table = tables[0]
rows = table.find_all('tr')
for row in rows[:3]:
    cells = row.find_all('td')
    for cell in cells[:4]:
        print(cell)
    print()

<td><b><a href="/wiki/Aleksandr%C3%B3w_Kujawski" title="Aleksandrów Kujawski">Aleksandrów Kujawski</a></b>
</td>
<td><a href="/wiki/Powiat_aleksandrowski" title="Powiat aleksandrowski">aleksandrowski</a>
</td>
<td><a href="/wiki/Wojew%C3%B3dztwo_kujawsko-pomorskie" title="Województwo kujawsko-pomorskie">kujawsko-pomorskie</a>
</td>
<td>723
</td>

<td><a href="/wiki/Aleksandr%C3%B3w_%C5%81%C3%B3dzki" title="Aleksandrów Łódzki">Aleksandrów Łódzki</a>
</td>
<td><a href="/wiki/Powiat_zgierski" title="Powiat zgierski">zgierski</a>
</td>
<td><a href="/wiki/Wojew%C3%B3dztwo_%C5%82%C3%B3dzkie" title="Województwo łódzkie">łódzkie</a>
</td>
<td>1382
</td>

In [16]:
table = tables[0]
rows = table.find_all('tr')
for row in rows[:3]:
    cells = row.find_all('td')
    for cell in cells[:4]:
        link = cell.find('a')
        if link and link != -1:
            print(link)

<a href="/wiki/Aleksandr%C3%B3w_Kujawski" title="Aleksandrów Kujawski">Aleksandrów Kujawski</a>
<a href="/wiki/Powiat_aleksandrowski" title="Powiat aleksandrowski">aleksandrowski</a>
<a href="/wiki/Wojew%C3%B3dztwo_kujawsko-pomorskie" title="Województwo kujawsko-pomorskie">kujawsko-pomorskie</a>
<a href="/wiki/Aleksandr%C3%B3w_%C5%81%C3%B3dzki" title="Aleksandrów Łódzki">Aleksandrów Łódzki</a>
<a href="/wiki/Powiat_zgierski" title="Powiat zgierski">zgierski</a>
<a href="/wiki/Wojew%C3%B3dztwo_%C5%82%C3%B3dzkie" title="Województwo łódzkie">łódzkie</a>

In [17]:
table = tables[0]
rows = table.find_all('tr')
for row in rows[:3]:
    cells = row.find_all('td')
    for cell in cells[:4]:
        link = cell.find('a')
        if link and link != -1:
            print(link.text)

Aleksandrów Kujawski
aleksandrowski
kujawsko-pomorskie
Aleksandrów Łódzki
zgierski
łódzkie

In [18]:
table = tables[0]
rows = table.find_all('tr')
for row in rows[:3]:
    cells = row.find_all('td')
    for cell in cells[:4]:
        link = cell.find('a')
        if link and link != -1:
            pass
        else:
            print(cell.text)

723

1382

In [21]:
data = []
table = tables[0]
rows = table.find_all('tr')
for row in rows:
    data_row = []
    cells = row.find_all('td')
    for cell in cells:
        link = cell.find('a')
        if link and link != -1:
            data_row.append(link.text.strip())
        else:
            data_row.append(cell.text.strip())
    if data_row:
            data.append(data_row)
data[:4]

[['Aleksandrów Kujawski',
  'aleksandrowski',
  'kujawsko-pomorskie',
  '723',
  '12058',
  '1668'],
 ['Aleksandrów Łódzki', 'zgierski', 'łódzkie', '1382', '21754', '1574'],
 ['Alwernia', 'chrzanowski', 'małopolskie', '888', '3336', '376'],
 ['Andrychów', 'wadowicki', 'małopolskie', '1033', '19837', '1920']]

In [22]:
import pandas as pd

df = pd.DataFrame(data)
df

,0,1,2,3,4,5
0,Aleksandrów Kujawski,aleksandrowski,kujawsko-pomorskie,723,12058,1668
1,Aleksandrów Łódzki,zgierski,łódzkie,1382,21754,1574
2,Alwernia,chrzanowski,małopolskie,888,3336,376
3,Andrychów,wadowicki,małopolskie,1033,19837,1920
4,Annopol,kraśnicki,lubelskie,773,2436,315
...,...,...,...,...,...,...
1008,Żukowo,kartuski,pomorskie,473,8135,1422
1009,Żuromin,żuromiński,mazowieckie,1118,8756,783
1010,Żychlin,kutnowski,łódzkie,868,7964,918
1011,Żyrardów,żyrardowski,mazowieckie,1435,39550,2756
1012,Żywiec,żywiecki,śląskie,5054,30733,608

In [26]:
rows = table.find_all('tr')
for row in rows:
    data_row = []
    cells = row.find_all('th')
    for cell in cells:
        print(cell)
    break

<th style="width: 26%">Miasto
</th>
<th style="width: 26%"><a href="/wiki/Powiat_(Polska)" title="Powiat (Polska)">Powiat</a>
</th>
<th style="width: 24%"><a href="/wiki/Wojew%C3%B3dztwo" title="Województwo">Województwo</a>
</th>
<th style="width: 8%">Powierzchnia [ha] (01.01.2021)
</th>
<th style="width: 8%"><a href="/wiki/Liczba_ludno%C5%9Bci" title="Liczba ludności">Liczba ludności</a> (01.01.2021)
</th>
<th style="width: 8%"><a href="/wiki/G%C4%99sto%C5%9B%C4%87_zaludnienia" title="Gęstość zaludnienia">Gęstość zaludnienia</a> [osoby/km²] (01.01.2021)
</th>

In [27]:
header = []
rows = table.find_all('tr')
for row in rows:
    data_row = []
    cells = row.find_all('th')
    for cell in cells:
        link = cell.find('a')
        if link and link != -1:
            header.append(link.text.strip())
        else:
            header.append(cell.text.strip())
print(header)

['Miasto', 'Powiat', 'Województwo', 'Powierzchnia [ha] (01.01.2021)', 'Liczba ludności', 'Gęstość zaludnienia']

In [28]:
df.columns = header
df

,Miasto,Powiat,Województwo,Powierzchnia [ha] (01.01.2021),Liczba ludności,Gęstość zaludnienia
0,Aleksandrów Kujawski,aleksandrowski,kujawsko-pomorskie,723,12058,1668
1,Aleksandrów Łódzki,zgierski,łódzkie,1382,21754,1574
2,Alwernia,chrzanowski,małopolskie,888,3336,376
3,Andrychów,wadowicki,małopolskie,1033,19837,1920
4,Annopol,kraśnicki,lubelskie,773,2436,315
...,...,...,...,...,...,...
1008,Żukowo,kartuski,pomorskie,473,8135,1422
1009,Żuromin,żuromiński,mazowieckie,1118,8756,783
1010,Żychlin,kutnowski,łódzkie,868,7964,918
1011,Żyrardów,żyrardowski,mazowieckie,1435,39550,2756
1012,Żywiec,żywiecki,śląskie,5054,30733,608

In [29]:
 import requests
from bs4 import BeautifulSoup
import pandas as pd

cities = pd.DataFrame((pd.read_html(str( BeautifulSoup(
    requests.get('https://pl.wikipedia.org/wiki/Dane_statystyczne_o_miastach_w_Polsce').content).table)))[0])
cities

C:\Users\Toma\AppData\Local\Temp\ipykernel_13728\3120448420.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  cities = pd.DataFrame((pd.read_html(str( BeautifulSoup(

,Miasto,Powiat,Województwo,Powierzchnia [ha] (01.01.2021),Liczba ludności (01.01.2021),Gęstość zaludnienia [osoby/km²] (01.01.2021)
0,Aleksandrów Kujawski,aleksandrowski,kujawsko-pomorskie,723,12058,1668
1,Aleksandrów Łódzki,zgierski,łódzkie,1382,21754,1574
2,Alwernia,chrzanowski,małopolskie,888,3336,376
3,Andrychów,wadowicki,małopolskie,1033,19837,1920
4,Annopol,kraśnicki,lubelskie,773,2436,315
...,...,...,...,...,...,...
1008,Żukowo,kartuski,pomorskie,473,8135,1422
1009,Żuromin,żuromiński,mazowieckie,1118,8756,783
1010,Żychlin,kutnowski,łódzkie,868,7964,918
1011,Żyrardów,żyrardowski,mazowieckie,1435,39550,2756
1012,Żywiec,żywiecki,śląskie,5054,30733,608

In [30]:
import io

pd.read_html(
    io.StringIO(
        str( BeautifulSoup(
            requests.get('https://pl.wikipedia.org/wiki/Dane_statystyczne_o_miastach_w_Polsce').content
        ).table
           )))

[                    Miasto          Powiat         Województwo  \
 0     Aleksandrów Kujawski  aleksandrowski  kujawsko-pomorskie
 1       Aleksandrów Łódzki        zgierski             łódzkie
 2                 Alwernia     chrzanowski         małopolskie
 3                Andrychów       wadowicki         małopolskie
 4                  Annopol       kraśnicki           lubelskie
 ...                    ...             ...                 ...
 1008                Żukowo        kartuski           pomorskie
 1009               Żuromin      żuromiński         mazowieckie
 1010               Żychlin       kutnowski             łódzkie
 1011              Żyrardów     żyrardowski         mazowieckie
 1012                Żywiec        żywiecki             śląskie

       Powierzchnia [ha] (01.01.2021)  Liczba ludności (01.01.2021)  \
 0                                723                         12058
 1                               1382                         21754
 2                                888                          3336
 3                               1033                         19837
 4                                773                          2436
 ...                              ...                           ...
 1008                             473                          8135
 1009                            1118                          8756
 1010                             868                          7964
 1011                            1435                         39550
 1012                            5054                         30733

       Gęstość zaludnienia [osoby/km²] (01.01.2021)
 0                                             1668
 1                                             1574
 2                                              376
 3                                             1920
 4                                              315
 ...                                            ...
 1008                                          1422
 1009                                           783
 1010                                           918
 1011                                          2756
 1012                                           608

 [1013 rows x 6 columns]]

In [31]:
import io

pd.DataFrame(pd.read_html(
        io.StringIO(
            str( BeautifulSoup(
                requests.get('https://pl.wikipedia.org/wiki/Dane_statystyczne_o_miastach_w_Polsce').content
            ).table
               )))[0]
            )

,Miasto,Powiat,Województwo,Powierzchnia [ha] (01.01.2021),Liczba ludności (01.01.2021),Gęstość zaludnienia [osoby/km²] (01.01.2021)
0,Aleksandrów Kujawski,aleksandrowski,kujawsko-pomorskie,723,12058,1668
1,Aleksandrów Łódzki,zgierski,łódzkie,1382,21754,1574
2,Alwernia,chrzanowski,małopolskie,888,3336,376
3,Andrychów,wadowicki,małopolskie,1033,19837,1920
4,Annopol,kraśnicki,lubelskie,773,2436,315
...,...,...,...,...,...,...
1008,Żukowo,kartuski,pomorskie,473,8135,1422
1009,Żuromin,żuromiński,mazowieckie,1118,8756,783
1010,Żychlin,kutnowski,łódzkie,868,7964,918
1011,Żyrardów,żyrardowski,mazowieckie,1435,39550,2756
1012,Żywiec,żywiecki,śląskie,5054,30733,608